<section class="page">
    <div class="break">
        <app-card-set-form></app-card-set-form>
        <div class="group-list">
            <div class="set-div" *ngFor="let set of flashcardSets">
                <p id="{{set._id}}" [ngClass]="{'highlight': set._id === selected}" class="group-btn" (click)="highlightSet($event)" >{{set.title}}</p>
                <button class="public-btn" id="{{set._id}}" [attr.public]="set.public" (click)="publicToggle($event)">
                    <img class="public-btn-img" *ngIf="!set.public" src="assets/eye-closed.png" alt="(private)">
                    <img class="public-btn-img" *ngIf="set.public" src="assets/eye-open.png" alt="(public)">
                </button>
            </div>

        </div>
    </div>
    <app-display-card-set *ngIf="selected != ''" [name]="selected" [user]="userId" mode="edit"></app-display-card-set>
</section>