<section class="page">
    <div class="break">
        <app-card-set-form></app-card-set-form>
        <div class="group-list">
            <div class="set-div" *ngFor="let set of flashcardSets">
                <section class="row set-selector" (click)="highlightSet($event)">
                    <p id="{{set._id}}" [ngClass]="{'highlight': set._id === selected}" class="group-btn wh"  >{{set.title}}</p>
                    <button [ngClass]="{'highlight': set._id === selected, 'clear': set._id != selected}" class="public-btn" id="{{set._id}}" [attr.public]="set.public" (click)="publicToggle($event)">
                        <img class="public-btn-img" *ngIf="!set.public" src="assets/lock-closed.png" alt="(private)">
                        <img class="public-btn-img" *ngIf="set.public" src="assets/lock-open.png" alt="(public)">
                    </button>
                </section>
                <app-display-card-set *ngIf="selected === set._id" [name]="set._id" [user]="userId" mode="edit"></app-display-card-set>
            </div>
        </div>
    </div>
</section>