.public-btn-img {
    width: 20px;
}

.btn-img {
    width: 18px;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.password-btn {
    display: flex;
    align-items: center;
    background-color: unset;
    border: none;
    cursor: pointer;
    padding: 3px 0 0 6px;
}

.portal-form {
    display: flex;
    position: absolute;
    left: 34%;
    top: 25%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 20px 10vw;
    border: solid 2px var(--lightGrey);
    border-radius: 15px;
    background-color: #f9f9f9;
    /* background-color: aquamarine; */
}

.portal-toggle {
    cursor: pointer;
    width: fit-content;
}

.brk {
    margin: 0.83em 0 0.83em 24px;
}

.sml {
    width: 180px;
}

.highlight {
    color: var(--baseBlue);
}

.no-highlight {
    color: var(--medGrey);
}

.portal-toggle:hover {
    color: var(--paleBlue);
}

.form-btn {
    cursor: pointer;
    margin: 12px 0 0 48px;
    color: var(--blizzardBlue);
    background-color: var(--baseBlue);
    border: solid var(--paleBlue) 3px;
    border-radius: 4px;
}

.form-btn:hover {
    color: var(--bostonBlue);
}

.form-field {
    margin: 0 0 4px 0;
}

.error-txt {
    margin: 0 0 8px 0;
    color: var(--tangerine);
}


/* .portal-toggle::selection {
    color: bisque;
} */