.highlight {
    color: aquamarine;
}

.public-btn-img {
    width: 20px;
}

.btn-img {
    width: 18px;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.password-btn {
    display: flex;
    align-items: center;
    background-color: unset;
    border: none;
    cursor: pointer;
    padding: 3px 0 0 6px;
}