/* You can add global styles to this file, and also import other style files */
:root {
    --prussianBlue: #053f5c;
    --bostonBlue: #429ebd;
    --blizzardBlue: #9fe7f5;
    --lightTangerine: #f7ad19;
    --tangerine: #f27f0c;
    --lightGrey: #e8e8e8;
    --medGrey: #cfcfcf;
    --paleBlue: #7090b5;
    --baseBlue: #263c79;
    --blueOne: #306078;
    --blueTwo: #145c81;
    /* #306078
    #145c81 */
}

body {
    background-color: var(--prussianBlue);
    -ms-overflow-style: none;  /* IE and Edge */
}

body::-webkit-scrollbar {
    display: none;
}
  

.wh {
    color: var(--lightGrey)
}

.row {
    display: flex;
}

.col {
    display: flex;
    flex-direction: column;
}



/* 
light green:
#91a86a

dark greens:
#19846d 
#156050
*/